
@{ ViewData["Title"] = "CreatePerson"; }

<h1>CreatePerson</h1>



@model PersonalDetail
@{ ViewData["Title"] = "PersonalDetail"; }

<h2>Please enter the details for new person below.</h2>

@Html.ActionLink("Back to Persons", "Persons", "Home", null, new { @class = "btn btn-secondary" })

@using (Html.BeginForm("CreatePerson", "Home", FormMethod.Post, new { enctype ="multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => Model.PersonalDetailId)
<table border="1" class="table table-bordered">
    @if (Model.ErrorMsg != null)
    {
        <tr>
            <td>@Html.DisplayNameFor(x => x.ErrorMsg)</td>
            <td>@Html.TextBoxFor(x => Model.ErrorMsg)</td>
        </tr>
    }


    <tr>
        <th>Particular</th>
        <th>Details</th>
        <th></th>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(x => x.FirstName)</td>
        <td>@Html.TextBoxFor(x => Model.FirstName)</td>
        <td>@Html.ValidationMessageFor(x => Model.FirstName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Address)</td>
        <td>@Html.TextBoxFor(x => Model.Address)</td>
        <td>@Html.ValidationMessageFor(x => Model.Address)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Age)</td>
        <td>@Html.TextBoxFor(x => Model.Age)</td>
        <td>@Html.ValidationMessageFor(x => Model.Age)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Occupation)</td>
        <td>@Html.TextBoxFor(x => Model.Occupation)</td>
        <td>@Html.ValidationMessageFor(x => Model.Occupation)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.ImageLocation)</td>
        <td> <input type="file" name="profile-image" multiple accept=" image/*" /> </td>

    </tr>

</table>

    <button type="submit" class="btn btn-primary btn-block">Add</button>
}
