@model List<PersonalDetail>
@{
    ViewData["Title"] = "Person collection in our list";
}

<h1>Persons</h1>
@Html.ActionLink("Add Person", "CreatePerson", "Home", null, new { @class = "btn btn-success" })
<table border="1" class="table table-bordered">
    <thead>
        <tr>
            <th>Personal Detail Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Occupation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model)
        {
        <tr>
            <td>@person.PersonalDetailId</td>
            <td>@person.FirstName</td>
            <td>@person.Address</td>
            <td>@person.Occupation</td>
            <td>
                @Html.ActionLink("Details", "PersonalDetails", "Home", new { personDetailId = person.PersonalDetailId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit", "EditPersonalDetail", "Home", new { personDetailId = person.PersonalDetailId }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "DeletePerson", "Home", new { personDetailId = person.PersonalDetailId }, new { @class = "btn btn-danger" })
            </td>
            @*@if (person.Occupation == "Doctor")
        {
            <td>@person.</td>
        }
        else if (person.Occupation == "Studet")
        {
            <td></td>
        }
        else
        {
            <td></td>
        }*@
        </tr>
        }
    </tbody>
</table>
